.avatar-main-menu > li > a,
.avatar-main-menu > li > span:not([class="pull"]) {
	padding: 50px 25px;
	border-left: 1px solid #3d7d7f;
	border-right: 1px solid #5ca5a7;
}
.avatar-main-menu ul li:hover,
[class*="avatar-slide-menu"] li:hover > a,
[class*="avatar-slide-menu"] li:hover > span {
	background-color: #b6e9eb;
}
.avatar-main-menu ul li a,
.avatar-main-menu ul li span {
	border-bottom: 1px solid #b6e9eb;
}
.avatar-template-logo {
	color: #fff;
}
.news-horizonal-1 .items h3 a {
	border-right: 8px solid #4c9c9f;
}
a,
a:link,
a:visited,
.avatar-module-heading,
.avatar-module-heading a,
.news-horizonal-2 .items .inner .date,
.news-horizonal-3 .items .inner h3 a,
.st-error-page h2,
.st-error-page p {
	color: #4c9c9f;
}
@media (max-width: 1024px)
{
	body.avatar-responsive .avatar-nav-responsive,
	body.avatar-responsive .avatar-nav-responsive span.toggle,
	body.avatar-responsive .avatar-nav-responsive .avatar-main-menu ul{
		background-color: #4c9c9f;
	}
	body.avatar-responsive .avatar-nav-responsive span.toggle,
	body.avatar-responsive .avatar-nav-responsive .avatar-main-menu li a, 
	body.avatar-responsive .avatar-nav-responsive .avatar-main-menu li span:not([class="pull"])  {
		border-bottom: 1px solid #82babc;
	}
	body.avatar-responsive .avatar-nav-responsive .avatar-main-menu li.parent:hover  { 
		background-color: #82babc;
	}
}
#avatar-header-inside-block,
.avatar-module-4,
[class*="avatar-slide-menu"],
.flexslider-style-1 .slides .flex-caption,
.st-article-info-top .date,
button,
input[type="submit"],
.link-button  { 
	background: #4c9c9f;
}
.avatar-module-5,
.st-article-info-top .hits,
.avatar-main-menu ul,
.avatar-main-menu li:hover,
[class*="avatar-slide-menu"] ul { 
	background-color: #82babc;
}
.avatar-module-2,
#avatar-footer-inside-block {
	background-color: #4c9c9f;
}
[class*="icons-"] .avatar-module-heading {
	background-image: url(../images/icons/icons.png);
}
#avatar-footer-inside-block a,
#avatar-footer-inside-block a:link {
	color: #ff6046;
}
